services:
  client:
    build:
      context: ./client
    container_name: the-chain-client
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - app-network

  server:
    build:
      context: ./server
    container_name: the-chain-server
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
