.app-button {
  padding: 0.5rem 1rem;
  color: var(--txt-color);
  background-color: var(--bg-color);
  border-radius: 8px;

  transition-property: color, background-color, border-color, outline-color, outline-width, transform, scale;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &.neutral-button {
    outline: 1px solid var(--divider-color);
  }
  &.neutral-button:hover {
    color: var(--bg-color);
    background-color: var(--txt-color);
    outline: 2px solid var(--txt-color);
  }
  &.primary-button {
    outline: 2px solid var(--primary-color);
  }
  &.primary-button:hover {
    outline-width: 4px;
  }
}

.app-button:hover {
  transform: scale(1.05);
}
