.app-header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;

  & .app-header__link {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  & .app-header__title-wrapper {
    display: flex;
    align-items: center;
  }
  & .app-header__title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.025rem;
  }
  & .app-header__subtitle {
    color: var(--txt-color-75);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.025rem;
  }

  & .app-header__button {
    color: var(--txt-color-50);

    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  & .app-header__button:hover {
    color: var(--txt-color);
  }
}
