<div class="flex flex-col gap-y-5 p-10 w-full">
  <div class="flex gap-x-2">
    <span class="text-(--txt-color-50)">BlockChain Status&nbsp;:</span>
    <div class="my-auto p-[4px] border border-(--divider-color) rounded-full">
      <div
        class="size-[8px] rounded-full animate-pulse"
        [class.bg-green-500]="isBlockChainValid()"
        [class.bg-red-500]="!isBlockChainValid()"
      ></div>
    </div>
    <span>{{ statusMessage() }}</span>
  </div>
  <div class="flex gap-x-2">
    <span class="text-(--txt-color-50)">Number of Blocks&nbsp;:</span>
    <span>{{ totalBlocks() }}</span>

    <button
      class="text-(--txt-color-50) hover:text-(--txt-color) transition-colors"
      type="button"
      (click)="goToBlockChain()"
      aria-label="Go To BlockChain"
      title="Go To BlockChain"
    >
      <heroicons-eye />
    </button>
  </div>
</div>
