<app-main-layout title="The Chain - BlockChain" [headerBorder]="false">
  <div id="search-wrapper" class="relative border-b border-(--divider-color)">
    <app-search-filter [(searchText)]="searchFilter" />

    <app-icon-diamond
      [width]="12"
      [height]="12"
      viewBox="12 0 24 24"
      className="absolute -bottom-[6px] -left-px text-(--divider-color)"
    />
    <app-icon-diamond
      [width]="12"
      [height]="12"
      viewBox="12 0 24 24"
      className="absolute -bottom-[6px] -right-px text-(--divider-color) rotate-180"
    />
  </div>

  <app-list-view [items]="allItems()" (clicked)="handleClickItem($event)" />
  <app-modal-block [block]="selectedBlock()" (copied)="notifyCopy()" (closed)="resetSelectedBlock()" />
  <app-notification />
</app-main-layout>
