<div class="flex md:flex-col items-center justify-center">
  <heroicons-cube
    [strokeWidth]="0.5"
    className="size-[48px] md:size-[72px] text-(--txt-color-25) hover:text-(--txt-color-50) hover:scale-105 transition-all"
  />
  <heroicons-cube
    [strokeWidth]="0.5"
    className="size-[56px] md:size-[84px] text-(--txt-color-50) hover:text-(--txt-color-75) hover:scale-105 transition-all"
  />
  <heroicons-cube
    [strokeWidth]="0.5"
    className="size-[64px] md:size-[96px] text-(--txt-color-75) hover:text-(--txt-color) hover:scale-105 transition-all"
  />
  <heroicons-cube-transparent
    [strokeWidth]="0.5"
    className="size-[56px] md:size-[84px] text-(--txt-color-50) animate-pulse"
  />
</div>
