.notification {
  position: fixed;
  top: 1rem;
  right: 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  max-width: 512px;
  background-color: var(--bg-color);
  border-radius: 16px;
  border: 1px solid var(--divider-color);
  box-shadow: var(--shadow-effect);
  z-index: 100;

  & .notification__icon {
    padding: 0.5rem;
    color: var(--bg-primary-color);
    background-color: var(--primary-color);
    border-radius: 9999px;
  }

  & .notification__message {
    color: var(--txt-color);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
